[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
ui = "python src/ui.py"
tests = "python -m pytest tests"
debug_tests = "python -m pytest -s tests"
lint = "black ."
sysver = "python -c 'import platform; print(platform.system())'"

[dev-packages]
black = "*"
rope = "*"
pytest = "*"
atomicwrites = "*"

[packages]
lxml = "==4.6.2"
python-docx = "==0.8.6"
pyyaml = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
